.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    text-shadow: 0px 0px 0px #000;
}

/* mixin sass */
@mixin parallax-box {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-1 {
    background: url('/images/media/img-2.webp');
    @include parallax-box;
}

.bg-2 {
    background: url('/images/media/img-1.webp');
    height: 600px;
    @include parallax-box;
}

.bg-3 {
    background: url('/images/media/img-4.webp');
    @include parallax-box;
}

.bg-4 {
    background: url('/images/media/img-6.webp');
    height: 600px;
    @include parallax-box;
}

