/*
================================
    Sass Variables
================================
*/

/* Background Color */
$bg-white: #ffffff;
$bg-gray: #f1f2f9;
$bg-dark-red: #a90000;
$color-light-gray: #ededed;

/* Text Color */
$color-light-gray: #666666;
$color-navbar: #1c1c1c;
$color-dark-gray: #282828;
$color-black: #000000;
$color-red: #bb0101;
$color-periwinkle: #CCCCFF;
$color-gray: #9a9a9a;
$color-brown: #af4d0f;

/* Font family */
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

/* Padding */
$box-padding: 10px 14px;